[project]
	description = 2D Game Engine C++ OpenGL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andreas Traczyk (atraczyk)
[access "refs/for/refs/*"]
	read = group user/Andreas Traczyk (atraczyk)
	push = group user/Andreas Traczyk (atraczyk)
	label-Code-Review = -2..+2 group user/Andreas Traczyk (atraczyk)
	label-Verified = -1..+1 group user/Andreas Traczyk (atraczyk)
	rebase = group user/Andreas Traczyk (atraczyk)
	removeReviewer = group user/Andreas Traczyk (atraczyk)
	submit = group user/Andreas Traczyk (atraczyk)
[access "refs/heads/*"]
	read = group user/Andreas Traczyk (atraczyk)
	create = group user/Andreas Traczyk (atraczyk)
	push = +force group user/Andreas Traczyk (atraczyk)
	pushMerge = group user/Andreas Traczyk (atraczyk)
[access "refs/tags/*"]
	push = +force group user/Andreas Traczyk (atraczyk)
	pushTag = group user/Andreas Traczyk (atraczyk)
	pushSignedTag = group user/Andreas Traczyk (atraczyk)
