//-----------------------------------------------------------------------------
//	2d platform game engine and level editor by Andreas Traczyk (2014-15) GPL
//	http://andreastraczyk.com/	email: andreastraczyk@gmail.com
//
//	DESCRIPTION:	rc file
//-----------------------------------------------------------------------------
 
#include "resource.h"
#include <windows.h>
 
ID_MENU MENU DISCARDABLE
{
    POPUP "File"
    {
		MENUITEM "&New Map",		ID_FILE_NEW
		MENUITEM SEPARATOR
		MENUITEM "Open Back Layer",	ID_FILE_OPEN_T1
		MENUITEM "Open Front Layer",ID_FILE_OPEN_T2
		MENUITEM SEPARATOR
		MENUITEM "Save Back Layer",	ID_FILE_SAVE_T1
		MENUITEM "Save Front Layer",ID_FILE_SAVE_T2
		MENUITEM SEPARATOR
        MENUITEM "Exit",			ID_EXIT
    }
    POPUP "Edit"
    {
        MENUITEM "Map Position",	ID_RED
		MENUITEM "Tile Size",		ID_GREEN
        MENUITEM "Atlas File",		ID_BLUE
    }
}

IDD_DLGFIRST DIALOG 260, 200, 188, 100
STYLE DS_MODALFRAME | WS_POPUP
CAPTION "New Map"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL			"0", ID_EDIT_MAPX, "Edit", ES_LEFT | WS_BORDER | ES_NUMBER | WS_TABSTOP,30, 20, 80, 10
	CONTROL			"0", ID_EDIT_MAPY, "Edit", ES_LEFT | WS_BORDER | ES_NUMBER | WS_TABSTOP,30, 30, 80, 10
	CONTROL			"0", ID_EDIT_DEPTH, "Edit", ES_LEFT | WS_BORDER | ES_NUMBER | WS_TABSTOP,30, 40, 80, 10
	CONTROL			"32", ID_EDIT_MAPW, "Edit", ES_LEFT | WS_BORDER | ES_NUMBER | WS_TABSTOP,30, 50, 80, 10
	CONTROL			"16", ID_EDIT_MAPH, "Edit", ES_LEFT | WS_BORDER | ES_NUMBER | WS_TABSTOP,30, 60, 80, 10
	CONTROL			"64", ID_EDIT_TILEW, "Edit", ES_LEFT | WS_BORDER | ES_NUMBER | WS_TABSTOP,30, 70, 80, 10
	CONTROL			"64", ID_EDIT_TILEH, "Edit", ES_LEFT | WS_BORDER | ES_NUMBER | WS_TABSTOP,30, 80, 80, 10
	CONTROL			"x", 0, "Static", SS_LEFT | SS_NOPREFIX, 10, 20, 20, 10 
	CONTROL			"y", 1, "Static", SS_LEFT | SS_NOPREFIX, 10, 30, 20, 10 
	CONTROL			"z", 2, "Static", SS_LEFT | SS_NOPREFIX, 10, 40, 20, 10 
	CONTROL			"w", 3, "Static", SS_LEFT | SS_NOPREFIX, 10, 50, 20, 10 
	CONTROL			"h", 4, "Static", SS_LEFT | SS_NOPREFIX, 10, 60, 20, 10 	
	CONTROL			"TW", 5, "Static", SS_LEFT | SS_NOPREFIX, 10, 70, 20, 10 
	CONTROL			"TH", 6, "Static", SS_LEFT | SS_NOPREFIX, 10, 80, 20, 10 
	DEFPUSHBUTTON   "OK", ID_OK, 130, 10, 50, 15
	DEFPUSHBUTTON   "Cancel", ID_CANCEL, 130, 30, 50, 15
	AUTOCHECKBOX	"Has Collision Map", ID_CHECK_BC, 10, 10, 100, 10
END